.contBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.formulario 
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #222;
}
.formulario .contato
{
  max-width: 800px;
  text-align: center;
}
.formulario .contato h1
{
  font-size: 3em;
  color: #fffafa;
  font-weight: 500;
}
.formulario .contato p
{
  font-size: 1.1em;
  color: #fffafa;
  font-weight: 300;
}
.container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}
.contInfo .contactInfo
{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contInfo .contactInfo .caixa
{
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}
.contInfo .contactInfo .caixa .icon
{
  min-width: 60px;
  height: 60px;
  background: #fffafa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
  transition: 0.5s;
  border-radius: 50px;
}
.contInfo .contactInfo .caixa:hover .icon
{
  background: #00bcd4;
  color: #fffafa;
}
.contInfo .contactInfo .caixa .text
{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #fffafa;
  font-weight: 300;
}
.contInfo .contactInfo .caixa .text h3
{
  font-weight: 500;
  color: #00bcd4;
}
.contInfo .contactInfo .txt
{
  color: #fffafa;
  margin-top: 50px;
  font-weight: 500;
  padding-left: 10px;
  border-left: 50px solid #e91e63;
  line-height: 1em;
}
.sci
{
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}
.sci li
{
  list-style: none;
}
.sci li a
{
  color: #fffafa;
  font-size: 2em;
  transition: 0.5s;
}
.sci li a:hover
{
  color: #00bcd4;
}
.contInfo .contactForm
{
  position: relative;
  width: 40%;
  background: #fffafa;
  min-height: 100px;
  padding: 60px;
}
.contInfo .contactForm h2
{
  font-size: 2em;
  color: #333;
  font-weight: 500;
}
.contInfo .contactForm .inputBox
{
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.contInfo .contactForm .inputBox input,
.contInfo .contactForm .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none; 
  resize: none;
}
.contInfo .contactForm .inputBox span
{
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1em;
  color: #666;
  transition: 0.5s;
}
.contInfo .contactForm .inputBox input:focus ~ span,
.contInfo .contactForm .inputBox textarea:focus ~ span,
.contInfo .contactForm .inputBox input:valid ~ span,
.contInfo .contactForm .inputBox textarea:valid ~ span
{
  color: #e91e63;
  font-size: 0.9em;
  transform: translateY(-20px);
}
.contInfo .contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background: #00bcd4;
  color: #fffafa;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

@media (max-width: 991px)
{
  .contact
  {
    padding: 50px;
  }
  .contInfo
  {
    flex-direction: column;
  }
  .contInfo .contactInfo,
  .contInfo .contactForm
  {
    width: 100%;
  }
  .contInfo .contactForm
  {
    padding: 50px 30px;
  }
}